
@{
    ViewBag.Title = "Xác nhận đơn hàng";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align: center;">Đơn hàng đã được ghi nhận.
    Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất!</h2>
<p>
    @Html.ActionLink("Tiếp tục mua sản phẩm", "Index", "NhaThuoc")
</p>
